/*Estilo do corpo*/
body{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url(fundo-index.jpg);
    background-size: cover;
    flex-direction: column;
}

/* Estilo do título principal*/
h1{
    text-align: center;
    text-decoration: solid;
    text-decoration-color: rgb(0, 0, 0);
    color: rgb(255, 191, 15);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px #000000;
    font-size: 60px;
}

/*estilo do grid/container*/
.container{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(30, 30px);
    grid-template-rows: repeat(21, 21px);
    gap: 1px;
    background-color: #000000;
    border: 4px solid rgb(85, 0, 141);
    width: fit-content;
}

/* Estilo do Menu, criei um menu em outro arquivo .html para separar e apresentar
uma melhor metodologia para o jogo*/

button{
   color: white;
    border: 4px solid black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 6px 4px;
    cursor: pointer;
    border-radius: 6px;
    transition: padding 0.5s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
button:hover{
    padding: 18px 38px;

}
